.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#Load {
  font-size: 18px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.List {
  width: 200px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  scroll-snap-type: proximity;
}



.List {
  width: 400px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.List>input,
form>input {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 20px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: #F4F5F7;
}

input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search {
  margin-right: 10px;
}



.List div {
  width: 80%;
  height: 30px;
  padding-top: 5px;
  margin-top: 30px;
  background-color: #d3d4d6;
  position: relative;
  border-radius: 5px;
}

.List div h5,
.List div input {
  display: inline;
  margin-right: 15px;
}

.List div button {
  position: absolute;
  background: none;
  border: none;
  right: 0%;
  cursor: pointer;
}

.List div img {
  width: 15px;
  height: fit-content;
}

.true {
  text-decoration: line-through;
  width: 100%;
}


#search {
  margin-top: 20px;
  width: 60%;
}



#btn {
  padding: 8px 16px;
  background-color: #4CAF50;
  width: 20%;
  height: 30px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}